{% extends 'base.html' %}
{% load static %}

{% block content %}

<a href="{% url 'accounts:index' %}" style="color:black; text-decoration:none;">
    <div style="margin: 5rem 0;">
        <div style="margin-left:1rem;">
            <h1 style="font-weight:lighter; font-size:35px;">안녕하세요!</h1>
            <h1 style="font-weight:lighter; font-size:35px;">매일 찾아오는</h1>
            <h1 style="font-weight:lighter; font-size:35px;"><span style="color:red; font-weight:bold;">오늘의 손녀</span>에요.</h1>
        </div>

        <div>
            <img src="{% static 'accounts/img/info.png' %}" alt="" style="height:17rem; margin:2rem 0;">
        </div>

        <div style="display:flex; align-items:center; flex-direction:column;">
            <h1 style="font-weight:lighter; font-size:30px;">저와 함께 <span style="font-weight:bold; color:blue;">대화</span>하고,</h1>
            <h1 style="font-weight:lighter; font-size:30px;"><span style="font-weight:bold; color:blue;">감정 상태</span>도 알아보아요.</h1>
        </div>
    </div>
</a>

{% endblock %}