{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- background image -->
<img class="fixed-top" src="{% static 'accounts/img/account_template.png' %}" alt="" style="width:100%; height:100%; z-index : -2;">

<!-- title -->
<div class="comment" style="position:fixed;  z-index: 2; margin:1.5rem 0 0 1rem;">
    <p style="margin:0; font-size:2.2rem;">간단한 <span style="font-weight:bold;">회원가입</span>을</p>
    <p style="font-size:2.2rem; margin-top:0.5rem;">하려고 해요.</p>
</div>

<!-- content -->
<div class="comment" style="font-size: 2rem; position:fixed;  z-index: 2; margin:14rem 0 0 1rem;">
    <div style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
        <img src="{% static 'accounts/img/speaker.png' %}" alt="" style="height:8rem;">
        <div style="padding-top:2rem; display:flex; flex-direction:column; justify-content:center; align-items:center;">
            <p style="margin:0; "><span style="color:rgb(223, 0, 0); font-weight:bold;">확성기 아이콘</span>을</p>
            <p style="margin:0;">누르시면 <span style="font-weight:bold;">음성 안내</span>를</p>
            <p style="margin:0;">들으실 수 있어요</p>
        </div>
    </div>
</div>

<!-- next button -->
<img src="{% static 'accounts/img/next.png' %}" alt="" style="height:5rem; padding-top:1.5rem; position:fixed; bottom:5rem; left:4rem;">

{% endblock %}